@font-face {
  font-family: '08 Underground';
  src: url(assets/fonts/08-underground.ttf);
}

@font-face {
  font-family: 'A Another Tag';
  src: url(assets/fonts/a-another-tag.ttf);
}

@font-face {
  font-family: 'A Attack Graffiti';
  src: url(assets/fonts/a-attack-graffiti.ttf);
}

@font-face {
  font-family: 'A Dripping Marker';
  src: url(assets/fonts/a-dripping-marker.ttf);
}

@font-face {
  font-family: 'Barrio Rifa';
  src: url(assets/fonts/barrio-rifa.ttf);
}

@font-face {
  font-family: 'Bopollux';
  src: url(assets/fonts/bopollux.ttf);
}

@font-face {
  font-family: 'Bored Schoolboy';
  src: url(assets/fonts/bored-schoolboy.ttf);
}

@font-face {
  font-family: 'Dark Font';
  src: url(assets/fonts/dak_font.ttf);
}

@font-face {
  font-family: 'DJ Gross';
  src: url(assets/fonts/dj-gross.ttf);
}

@font-face {
  font-family: 'Elevenoone';
  src: url(assets/fonts/elevenoone.ttf);
}

@font-face {
  font-family: 'Gang Bang Crime';
  src: url(assets/fonts/gang-bang-crime.ttf);
}

@font-face {
  font-family: 'Graffonti';
  src: url(assets/fonts/graffonti.ttf);
}

@font-face {
  font-family: 'I Lost It In The Street';
  src: url(assets/fonts/i-lost-it-in-the-street.ttf);
}

@font-face {
  font-family: 'Insane';
  src: url(assets/fonts/insane.ttf);
}

@font-face {
  font-family: 'Muro SP';
  src: url(assets/fonts/muro-sp.otf);
}

@font-face {
  font-family: 'Neo Bopollux';
  src: url(assets/fonts/neo-bopollux.ttf);
}

@font-face {
  font-family: 'Pixel Retro SP';
  src: url(assets/fonts/pixo-reto-sp.ttf);
}

@font-face {
  font-family: 'Real Breakerz';
  src: url(assets/fonts/real-breakerz.ttf);
}

@font-face {
  font-family: 'Reskagraf';
  src: url(assets/fonts/reskagraf.ttf);
}

@font-face {
  font-family: 'Souper 3';
  src: url(assets/fonts/souper-3.ttf);
}

@font-face {
  font-family: 'Street Style';
  src: url(assets/fonts/street-style.ttf);
}
